body{
	font-family: Roboto, sans-serif;
	font-size: 14px;
	padding: 0;
	margin: 0;
	background-color: #F7F7F7;
}
main{
	max-width: 480px;
	margin: 0 auto;
	box-shadow: 0 0 1px rgba(0,0,0,.3);
	background-color: #fff;
	min-height: 100vh;
}
header{
	position: relative;
	background-color: #E8E4DB;
	background-size: cover;
	background-position: center;
	box-shadow: inset 0 0 10px rgba(0,0,0,.2);
	max-width: 480px;
	height: 240px;
}
header h1{
	color: #000;
	font-weight: 400;
	font-size: 1em;
	padding: 80px 10px 0;
	margin: 0;
	position: absolute;
	width: 100%;
	bottom: 0;
	box-sizing: border-box;
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
	text-shadow: 1px 1px #fff, -1px 1px #fff;
}
header:before{
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 18px;
	height: 19px;
	margin: -9.5px 0 0 -9px;
	background: transparent url(../images/red-circle.png?__inline=true) no-repeat;
	background-size: 18px 19px;
}
header h1 b{
	display: block;
	font-weight: 500;
	font-size: 20px;
}
table{
	border: 10px solid #fff;
	width: 100%;
	table-layout: fixed;
	border-spacing: 0;
	box-sizing: border-box;
}
table th,
table td{
	padding: .5em 1em .5em 0;
	text-align: left;
}
thead th{
	font-weight: 300;
}
tbody th{
	font-weight: 500;
}
tfoot td{
	opacity: .7;
	padding: 2em 0 1em;
}
.insignificant{
	opacity: .3;
}
.loading{
	text-align: center;
	padding: 2em 0;
}
.fading{
	-webkit-animation: fading 1s linear infinite;
	animation: fading 1s linear infinite;
}
@-webkit-keyframes fading {
	from {
		opacity: .3;
	}
	50% {
		opacity: .7;
	}
	to {
		opacity: .3;
	}
}
@keyframes fading {
	from {
		opacity: .3;
	}
	50% {
		opacity: .7;
	}
	to {
		opacity: .3;
	}
}
#outdated-browser{
  background-color: #ff9;
  padding: 10px;
  text-align: center;
}
