html, body{
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
	font-size: 14px;
	font-family: Roboto, sans-serif;
	font-weight: 300;
	-webkit-text-size-adjust: none;
}
button,
input{
	font-family: Roboto, sans-serif;
	font-size: 1em;
	padding: 10px;
}
a{
	color: #4285f4;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
a[href="#"]{
	-webkit-touch-callout: none;
}
img{
	border: 0;
}
hr{
	margin: 8px 0 6px;
	border: 0;
	border-top: 1px solid #F0F0E7;
}
*{
	box-sizing: border-box;
}

header {
	padding: 10px;
	cursor: pointer;
	position: absolute;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position: absolute;
	z-index: 1;
}

header:active {
	opacity: .7;
}

header h1 {
	margin: 0;
	padding: 0;
	-webkit-filter: drop-shadow(0 2px 4px rgba(0,0,0,0.2));
	filter: drop-shadow(0 2px 4px rgba(0,0,0,0.2));
}

header svg {
	vertical-align: top;
}

#header-search{
	border: 0;
	margin: 0;
	padding: 10px;
	cursor: pointer;
	color: #000;
	opacity: .75;
	background-color: transparent;
}
#header-search:hover{
	opacity: 1;
}
#header-search .icon{
	background-color: rgba(255,255,255,.8);
}

#places-search-form input{
	outline: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	border: 1px solid #aaa;
	border-radius: 3px;
	color: #bbb;
	background-color: #fff;
	width: 100%;
	margin: 0;
	-webkit-transition: background-color .3s;
	-moz-transition: background-color .3s;
	transition: background-color .3s;
	font-size: 1.2em;
}
#places-search-form input:focus{
	color: #333;
	border-color: #20a4d0;
}
#places-search-form input::-webkit-input-placeholder{
	color: #bbb;
}
#places-search-form input:-moz-placeholder{
	color: #bbb;
}
.dialog{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-color: rgba(0,0,0,.15);
	-webkit-transition: opacity .3s;
	-moz-transition: opacity .3s;
	transition: opacity .3s;
	opacity: 0;
}
.dialog.show{
	z-index: 100;
	opacity: 1;
}
.dialog section{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	max-height: 100%;
	background-color: #fff;
	padding: 14px;
	-webkit-transition: -webkit-transform .3s cubic-bezier(0.150, 0.780, 0.180, 1.170);
	transition: transform .3s cubic-bezier(0.150, 0.780, 0.180, 1.170);
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
	pointer-events: none;
}
.dialog.show section{
	transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	pointer-events: auto;
	box-shadow: 0 1px 15px rgba(0,0,0,.3);
}
@media screen and (min-width: 500px) and (min-height: 400px) {
	.dialog section{
		width: 500px;
		left: 50%;
		margin-left: -250px;
		border-radius: 5px;
	}
	.dialog.show section{
		transform: translate3d(0, 10px, 0);
		-webkit-transform: translate3d(0, 10px, 0);
	}
}
.dialog section h2{
	font-size: 1.3em;
	font-weight: normal;
	margin-top: 0;
	padding-top: 0;
}
.dialog section h2 small{
	opacity: .75;
}
.dialog section p{
	margin-top: 0;
	padding-top: 0;
}
.dialog section b,
.dialog section strong{
	font-weight: 400;
}

#bounds-warning{
	position: absolute;
	top: 10px;
	left: 75px;
	display: none;
	padding: 5px 10px;
	background-color: rgba(0,0,0,.7);
	-webkit-backdrop-filter: blur(1px);
	backdrop-filter: blur(1px);
	color: #fff;
}
#bounds-warning a{
	color: #fff;
	text-decoration: underline;
}
#bounds-warning.visible{
	display: block;
}
#map{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 300px;
	background-color: #E5E3DF;
}
aside{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 300px;
	z-index: 1;
	overflow: hidden;
}
aside h1{
	cursor: default;
	color: #7ac000;
	background-color: #fff;
	margin: 0;
	padding: 0 10px;
	height: 40px;
	line-height: 40px;
	font-weight: normal;
	border-bottom: 1px solid rgba(0,0,0,.2);
}
aside #bus-stops-section h1,
aside #bus-stop-routes-section h1{
	color: #f01b48;
	font-weight: normal;
}
aside h1 b{
	font-weight: 500;
}
aside h1 a{
	color: #fff;
}
aside h1 a.close,
aside h1 a.back{
	outline: 0;
	color: inherit;
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
	width: 35px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	transition: background-color .3s;
}
aside h1 a.close:hover,
aside h1 a.back:hover{
	text-decoration: none;
	background-color: rgba(0,0,0,.1);
}
aside h1 a.back{
	position: static;
	float: left;
	-webkit-transform: translateX(-10px);
	transform: translateX(-10px);
}
aside section{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	z-index: 1;
}
aside section>div{
	position: absolute;
	top: 40px;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}
aside section p{
	margin: 0;
	padding: 16px;
	color: #666;
	text-align: center;
}
aside section div h2{
	color: #999;
	background-color: #f7f7f7;
	margin: 0;
	padding: 0 10px;
	height: 24px;
	line-height: 24px;
	font-size: 1em;
	font-weight: normal;
	border-bottom: 1px solid #ededed;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 1;
}
aside section div ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
aside section div ul li{
	display: inline;
}
aside section div ul li a{
	color: #333;
	background-color: #fff;
	display: block;
	padding: 8px;
	border-bottom: 1px solid #ededed;
	overflow: hidden;
	cursor: pointer;
	white-space: nowrap;
	text-overflow: ellipsis;
	-webkit-transition: background-color .3s;
	-moz-transition: background-color .3s;
	transition: background-color .3s;
}
aside section div ul li a:hover{
	text-decoration: none;
	color: #000;
	background-color: #fafafa;
}
aside section div ul li a.hidden{
	display: none;
}
#sidebar section#bus-services-section div ul li a:active,
#sidebar section#bus-services-section div ul li a.selected{
	color: #fff;
	background-color: #95cf29;
}
#sidebar section#bus-routes-section div ul li a:active .tag,
#sidebar section#bus-routes-section div ul li a.selected .tag,
#sidebar section#bus-stops-section div ul li a:active .tag,
#sidebar section#bus-stops-section div ul li a.selected .tag{
	color: #fff;
	background-color: #f78da3;
}
#sidebar section#bus-services-section div ul li a span{
	opacity: .65;
	margin-left: 1em;
}
aside section div ul li a.stop-a i,
aside section div ul li a.stop-b i,
aside section div ul li a.stop-dot i,
aside section div ul li a.stop i{
	display: inline-block;
	background: transparent url(/assets/images/bus-sprite.png) no-repeat;
	background-size: 78px 84px;
	vertical-align: middle;
}
aside section div ul li a.stop-a i,
aside section div ul li a.stop-b i,
aside section div ul li a.stop-dot i{
	width: 26px;
	height: 27px;
	margin-right: 8px;
}
aside section div ul li a.stop-a i{
	background-position: -26px -20px;
}
aside section div ul li a.stop-b i{
	background-position: -52px -20px;
}
aside section div ul li a.stop-dot i{
	background-position: 0 -20px;
}
aside section div ul li a.stop i{
	background-position: -30px 0;
	width: 18px;
	height: 19px;
	margin: 0 12px 0 4px;
}
aside section div ul li a .tag{
	vertical-align: middle;
	display: inline-block;
	font-weight: normal;
	font-size: .8em;
	color: #999;
	background-color: #ededed;
	padding: 3px 5px;
	margin: 0 5px 0 0;
	line-height: 1em;
	border-radius: 3px;
}
aside section #bus-stop-routes ul li a .tag{
	border-radius: 0;
}
aside section #bus-stop-routes ul li a:focus .tag,
aside section #bus-stop-routes ul li a:hover .tag{
	color: #fff;
	background-color: #95cf29;
}
#bus-services-section .search-field{
	position: relative;
	height: 32px;
	display: block;
}
#bus-services-section .search-field .icon{
	opacity: .5;
	position: absolute;
	top: 8px;
	left: 8px;
}
#bus-services-section .search-field input{
	padding: 0 30px 0 30px;
	height: 32px;
	line-height: 32px;
	width: 100%;
	border: 0;
	border-radius: 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	background-color: #fff;
	-webkit-appearance: none;
	-moz-appearance: textfield;
	appearance: none;
}
#bus-services-section .search-field input:focus{
	outline: 0;
	box-shadow: inset 0 2px 5px rgba(0,0,0,.1);
}
#bus-services-section .search-field input::-webkit-outer-spin-button,
#bus-services-section .search-field input::-webkit-inner-spin-button{
	-webkit-appearance: none;
	margin: 0;
}
#bus-services-section .search-field .close{
	color: #F01B48;
	line-height: 1em;
	opacity: .5;
	position: absolute;
	top: 0;
	right: 0;
	padding: 9px;
}
#bus-services-section .search-field .close *{
	pointer-events: none;
	position: static;
}
#bus-services-section .search-field .close:hover{
	opacity: .8;
}
#bus-services-section .search-field input + .close{
	pointer-events: none;
	visibility: hidden;
}
#bus-services-section .search-field input:valid + .close{
	pointer-events: all;
	visibility: visible;
}
#bus-routes-section a.details{
	float: right;
	padding: 5px 10px;
}
#bus-routes-section .tab-bar{
	overflow: hidden;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	background-color: rgba(240,240,240,.9);
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
}
aside section .tab{
	color: #333;
	display: inline-block;
	padding: 5px 10px;
	font-weight: normal;
}
aside section .tab:hover{
	color: #f01b48;
	text-decoration: none;
}
aside section .tab.selected{
	background-color: #fff;
	color: #f01b48;
}
aside section .tab{
	border-right: 1px solid rgba(0,0,0,.1);
}

aside section{
	-webkit-transition-timing-function: cubic-bezier(.3, 0, 0, 1);
	transition-timing-function: cubic-bezier(.3, 0, 0, 1);
	transition-property: transform, -webkit-transform, opacity;
	transition-duration: .3s;
}
aside section.hidden{
	pointer-events: none;
	opacity: 0;
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
}
#bus-services-section.loading #bus-services ul li a.selected{
	background-size: 30px 30px;
	background-image: linear-gradient(
		45deg,
		rgba(0,0,0,.03) 25%,
		transparent 25%,
		transparent 50%,
		rgba(0,0,0,.03) 50%,
		rgba(0,0,0,.03) 75%,
		transparent 75%,
		transparent
	);
	-webkit-animation: barberpole .5s linear infinite;
	animation: barberpole .5s linear infinite;
}
@-webkit-keyframes barberpole {
	from { background-position: 0 0; }
	to { background-position: 60px 30px; }
}
@keyframes barberpole {
	from { background-position: 0 0; }
	to { background-position: 60px 30px; }
}
#bus-stop-routes-section.loading h1 a.close{
	display: none;
}
#bus-stop-routes-section.loading #bus-stop-routes{
	background-size: 30px 30px;
	background-image: linear-gradient(
		45deg,
		rgba(0,0,0,.03) 25%,
		transparent 25%,
		transparent 50%,
		rgba(0,0,0,.03) 50%,
		rgba(0,0,0,.03) 75%,
		transparent 75%,
		transparent
	);
	-webkit-animation: barberpole .5s linear infinite;
	animation: barberpole .5s linear infinite;
}
.infowindow{
	font-size: 14px;
}
.infowindow h1{
	font-size: 1.2em;
	font-weight: normal;
	margin: 0 0 2px;
	padding: 0;
}
.infowindow .tag{
	vertical-align: middle;
	display: inline-block;
	font-weight: normal;
	font-size: .8em;
	color: #fff;
	background-color: #f78da3;
	padding: 3px 5px;
	margin: 0 5px 0 0;
	line-height: 1em;
	border-radius: 3px;
}
.infowindow a.infoservice,
.infowindow span.infoservice{
	font-weight: normal;
	color: #fff;
	background-color: #95cf29;
	padding: 2px 6px;
	margin: 4px 0 0;
	display: inline-block;
}
.infowindow a.infoservice:hover{
	background-color: #7ac000;
	text-decoration: none;
}
.infowindow span.infoservice{
	color: #999;
	background-color: #ededed;
}
.infowindow .show-routes{
	white-space: nowrap;
}
.infowindow .infofooter{
	margin-top: 7px;
	border-top: 1px solid #F0F0E7;
	padding-top: 3px;
}
.infowindow .infofooter a{
	display: block;
	line-height: 1.5em;
}

#geolocation-control{
	cursor: pointer;
	border: 0;
	outline: 0;
	margin: 10px;
	padding: 12px;
	width: 48px;
	height: 48px;
	background-color: #fff;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	vertical-align: top;
}
#geolocation-control svg{
	fill: #666;
}
#geolocation-control.active svg{
	fill: #4285f4;
}

.dialog button{
	display: block;
	width: 100%;
	font-weight: 500;
	color: #4285f4;
	background-color: #fff;
	border: 1px solid #4285f4;
	cursor: pointer;
	border-radius: 3px;
}
.dialog button:hover{
	color: #fff;
	background-color: #4285f4;
	text-decoration: none;
}
.dialog button svg{
	vertical-align: middle;
	fill: currentColor;
}

.icon{
	width: 16px;
	height: 16px;
	vertical-align: -10%;
	fill: currentColor;
}
.icon-circle{
	vertical-align: middle;
	width: 24px;
	height: 24px;
	border: 1px solid;
	border-radius: 12px;
	padding: 4px;
}
.icon-circle:hover{
	text-decoration: none;
}

@media screen and (max-width: 640px){
	#map{
		right: 0;
		bottom: 50%;
		-webkit-transition: bottom .3s;
		transition: bottom .3s;
	}

	#sidebar{
		top: 50%;
		left: 0;
		width: 100%;
		-webkit-transition: top .3s;
		transition: top .3s;
	}

	#sidebar h1{
		border-top: 1px solid rgba(0,0,0,.2);
	}

	.sidebar-collapsed #map{
		bottom: 10%;
	}
	.sidebar-collapsed #sidebar{
		top: 90%;
	}

	.infowindow{
		max-width: 200px;
	}
}

@-ms-viewport{
	width: device-width;
	zoom: 1.0;
}

@viewport{
	width: device-width;
	zoom: 1.0;
}

#outdated-browser{
	position: absolute;
	background-color: #ff9;
	padding: 10px;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	text-align: center;
	z-index: 99999999;
}

@media screen and (min-width: 641px){
	aside section {
		bottom: 125px;
	}
	#💰 {
	  height: 125px;
	  position: absolute;
	  bottom: 0;
	  border-top: 1px solid rgba(0,0,0,.2);
	}
	#carbonads {
	  position: relative;
	  padding: 10px;
	  line-height: 1.4;
	}
	#carbonads a {
	  display: block;
	}
	#carbonads .carbon-img {
	  float: left;
	  margin-right: 10px;
	}
	#carbonads .carbon-poweredby {
		margin-top: 10px;
	  font-size: .8em;
	  letter-spacing: 1px;
	}
}