body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 0;
  margin: 0;
  background-color: #F7F7F7;
}

*, *:before, *:after{
  box-sizing: border-box;
}

main {
  max-width: 480px;
  margin: 0 auto;
  box-shadow: 0 0 100px rgba(0,0,0,.1);
  background-color: #fff;
  min-height: 100vh;
}

.stops-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
  overflow: auto;
  text-align: center;
  pointer-events: auto;
}
.stops-list li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline;
}
.stops-list a {
  display: inline-block;
  padding: 10px;
}

#bus-stop-map {
  position: relative;
  padding-top: 50%;
}
#bus-stop-map img {
  width: 100%;
  height: auto;
  vertical-align: top;
  position: absolute;
  left: 0;
  top: 0;
}
#bus-stop-map:after {
  opacity: 0;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -150%) scale(.5);
  transform-origin: top center;
  width: 30px;
  height: 40px;
  background: transparent url(../assets/images/stop-active.svg) no-repeat bottom;
  background-size: contain;
  filter: drop-shadow(0 5px 10px rgba(0,0,0,.3));
  animation: appear .3s .5s ease-in-out both;
}
@keyframes appear {
  80% {
    opacity: 1;
    transform: translate(-50%, -100%) scale(1.1);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -100%) scale(1);
  }
}
h1 {
  position: sticky;
  top: 0;
  color: #000;
  font-size: .7em;
  font-weight: normal;
  padding: 10px;
  margin: 0;
  z-index: 1;
  background-color: rgba(240,240,240,.75);
  z-index: 11;
  backdrop-filter: blur(1px) saturate(3);
}
h1 b {
  margin-top: 5px;
  font-size: 1.35em;
  display: flex;
  align-items: center;
}
h1 b .stop-tag {
  margin-right: 1ex;
}
table {
  text-align: left;
  table-layout: fixed;
  width: 100%;
  border-spacing: 0;
  border: 0;
  margin: 0;
  overflow: hidden;
}
table thead * {
  font-weight: normal;
  color: #666;
}
table th,
table td {
  padding: 6px 10px;
}
table th *,
table td * {
  vertical-align: middle;
}
table tbody {
  transition: opacity .3s;
}
table tbody th {
  width: 8ex;
  z-index: 10;
  position: relative;
  background-color: rgba(255,255,255,.5);
  cursor: pointer;
  pointer-events: auto;
}
table tbody tr:nth-child(2n) {
  background-color: #fafafa;
}
table tbody tr.pin {
  background-color: lightyellow;
}
table tbody tr.pin th {
  color: darkorange;
}
@media (hover: hover) {
  table tbody th:hover {
    color: darkorange;
  }
}
table tbody td.blank {
  text-align: center;
  padding: 3em;
}

.legend {
  padding: 10px;
  font-size: 11px;
  position: sticky;
  bottom: 0;
  background-color: rgba(240,240,240,.75);
  z-index: 11;
  backdrop-filter: blur(1px) saturate(3);
  display: flex;
}
.legend span {
  display: flex;
  align-items: center;
  padding: 3px;
  background-color: #fff;
  margin-right: 3px;
  border-radius: 1px;
}
.legend span > img {
  margin-right: 5px;
  min-height: 16px;
  min-width: 16px;
}

.stop-tag {
  display: inline-block;
  padding: 3px 7px;
  border-radius: 5px;
  border: 2px solid #fff;
  background-color: #f01b48;
  color: #fff;
  font-weight: bold;
  box-shadow: 0 0 5px rgba(0,0,0,.15);
  position: relative;
}
.stop-tag:after {
  content: '';
  position: absolute;
  bottom: -6px;
  right: -6px;
  width: 12px;
  height: 12px;
  border: 2px solid #fff;
  border-radius: 12px;
  overflow: hidden;
  background-color: limegreen;
}
@keyframes blink {
  0% { opacity: 1; }
  100% { opacity: .3; }
}
.stop-tag.loading:after {
  animation: blink .3s ease-in-out 4 alternate both;
}

.load {
  border-bottom-width: 1px;
}
.load-sea {
  color: green;
}
.load-sda {
  color: orangered;
  border-bottom-style: dotted;
}
.load-lsd {
  color: firebrick;
  border-bottom-style: dashed;
}

.time {
  display: inline-block;
  border-bottom-width: 1px;
}
.time-sea {
  color: green;
}
.time-sda {
  color: orangered;
  border-bottom-style: dotted;
}
.time-lsd {
  color: firebrick;
  border-bottom-style: dashed;
}

#carbonads {
  pointer-events: auto;
}

@media (min-width: 720px) {
  body {
    display: grid;
    height: 100vh;
    margin: 0;
    grid-template-rows: 1fr min-content 1fr;
  }
  main {
    max-width: 800px;
    min-height: auto;
    grid-row: 2;
  }
  #bus-stop-map {
    padding-top: 0;
  }
  #bus-stop-map img {
    position: static;
  }
  #bus-stop-map, h1, table, #carbonads {
    width: 50%;
  }
  #bus-stop-map, h1, #carbonads {
    float: left;
  }
  header {
    display: flex;
    flex-direction: column-reverse;
  }
  table {
    float: right;
  }
}

.bus-lane-cell {
  padding-left: 0;
  padding-right: 0;
  background: repeating-linear-gradient(
    to right,
    rgba(0,0,0,.05) 0,
    rgba(0,0,0,.05) 1px,
    transparent 1px,
    transparent 50px
  );
}
.bus-lane {
  position: relative;
  height: 1.8em;
}
.bus-lane .bus {
  left: 0;
  bottom: 0;
  position: absolute;
  font-size: 11px;
  display: inline-block;
  transition: all 1s ease-out;
  filter: drop-shadow(1px 0 0 #fff) drop-shadow(1px -1px #fff);
}

.bus-lane .bus > * {
  animation: show 3s both;
}
@keyframes show {
  0% {
    transform: translateX(12px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.bus-lane > .bus.ghost:first-child > * {
  animation: ghosting 3s both;
}
@keyframes ghosting {
  100% {
    transform: translateX(-12px);
    opacity: 0;
  }
}
.bus-lane .bus ~ .bus.ghost > * {
  animation: ghosting2 1.5s both;
}
@keyframes ghosting2 {
  100% {
    transform: scale(.6);
    opacity: 0;
  }
}

.bus-lane .bus:not(.ghost) {
  z-index: 3;
}
.bus-lane .bus:not(.ghost) ~ .bus:not(.ghost) {
  z-index: 2;
}
.bus-lane .bus:not(.ghost) ~ .bus:not(.ghost) > * {
  filter: opacity(.75);
}
.bus-lane .bus:not(.ghost) ~ .bus:not(.ghost) ~ .bus:not(.ghost) {
  z-index: 1;
}
.bus-lane .bus:not(.ghost) ~ .bus:not(.ghost) ~ .bus:not(.ghost) > * {
  filter: opacity(.5);
}
.bus-lane .bus,
.bus-lane .bus img {
  vertical-align: bottom;
}